<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leader Board using HTML CSS and Javascript</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <div class="wrapper">
        <div class="lboard_section">
            <div class="lboard_tabs">
                <div class="tabs">
                    <ul>
                        <li data-li="today">Today</li>
                        <li class="active" data-li="month">month</li>
                        <li data-li="Year">Year</li>
                    </ul>
                </div>
            </div>
            
            <div class="lboard_wrap"></div>
        </div>
    </div>

</body>




</html>