{% extends 'base.html' %} 

{% block content %}
{% load static %}
<head>
  <title>Forum</title>
</head>

{% if user.is_authenticated %}
  <a href="{% url 'round_table:add_forum' %}" class="btn btn-primary" style="margin-right: 5px; margin-top: 5px;">Add Forum</a>
{% endif %}
<div class="row w-100" id="forums"></div>

<script>
  async function getForums() {
      return fetch("{% url 'round_table:get_forums_json' %}").then((res) => res.json())
  }

  async function refreshForums() {
      document.getElementById("forums").innerHTML = ""
      const forums = await getForums()
      let htmlString = ``
      forums.forEach((forum) => {
          htmlString += `<div class="card w-100 ml-5 mr-4 mt-3">
            <a href="${forum.id}" style="color:inherit;text-decoration:none;">
              <div class="card-header">
                <div style="display: flex; justify-content: space-between;">
                  <h5 class="card-title">${forum.title}</h5>
                  </a>
                  ${forum.is_owner ? `<button class="btn btn-danger" onclick="deleteForum(${forum.id})">Delete</button>` : ""}
                </div>
            <a href="${forum.id}" style="color:inherit;text-decoration:none;">
              <p class="card-text" style="margin-bottom:0px">Discussing ${forum.book_title} by ${forum.book_author}</p>
              <p class="card-text" style="margin-top:0px">${forum.author} - Posted on ${formatDate(forum.created_at)}</p>
              </div>
              <a href="${forum.id}" style="color:inherit;text-decoration:none;">
              <div class="card-body">
                <p class="card-text">${truncateText(forum.content, 200)}</p>
              </div>
              </a>
            </a>
          </div>`; 
      })
      
      document.getElementById("forums").innerHTML = htmlString
  }

  refreshForums()

  function deleteForum(id) {
    fetch(`delete-forum-ajax/${id}/`, {
        method: "DELETE",
    }).then(refreshForums)
    
    return false
  }

  function truncateText(text, maxLength) {
    if (text && text.length > maxLength) {
        return text.slice(0, maxLength) + '...';
    }
    return text;
  }

  function formatDate(dateString) {
    const options = { year: 'numeric', month: 'long', day: 'numeric' };
    const date = new Date(dateString);
    return date.toLocaleDateString('en-GB', options);
  }
</script>
{% endblock %}