{% extends 'base.html' %}
{% block content %}
<head>
    <title>{{ book.title }}</title>
</head>

<body>
    <div>
        <div style="text-align: center;">
            <img src="{{ book.image_url }}" alt="{{ book.title }}">
            <div>
                <h2>{{ book.title }}</h2>
                <p>Book Id: {{ book.pk }}</p>
                <p>Author: {{ book.author }}</p>
                <p>Publisher: {{ book.publisher }}</p>
                <p>Published Date: {{ book.publication_date }}</p>
                <p>Pages: {{ book.page_count }}</p>
                <p>Genre: {{ book.category }}</p>
                <p>{{ book.description }}</p>
                <a href="{% url 'round_table:add_forum' book.id %}" class="btn btn-primary" style="margin-right: 5px; margin-top: 5px;">Add Forum</a>
            </div>
        </div>
    </div>
</body>
{% endblock content %}