{% extends 'base.html' %}
{% block content %}
<head>
    <title>{{ book.title }}</title>
</head>

<body>
    <div>
        <div style="text-align: center;">
            <img src="{{ book.thumbnail }}" alt="{{ book.title }}">
            <div>
                <h2>{{ book.title }}</h2>
                <p>Book Id = {{ book.pk }}</p>
                <p>Author: {{ book.author }}</p>
                <p>{{ book.description }}</p>
                <p>Published Date: {{ book.published_date }}</p>
            </div>
        </div>
    </div>
</body>
{% endblock content %}