{% extends 'base.html' %}
{% block content %}
<head>
    <title>{{ book.title }}</title>
</head>

<body>
    <div>
        <div style="text-align: center;">
            <img src="{{ book.image_url }}" alt="{{ book.title }}">
            {% if user.is_authenticated %}
                <form action="{% url 'books:add_book_to_inventory' book.pk%}" method="post">
                    {% csrf_token %}
                    <label for="folder">Choose Wishlist Folder:</label>
                    <select id="folder" name="folder" style="width: 200px;">
                    <h1>{{ user_inventories }}</h1>
                        {% for folder in user_inventories %}
                            <option value="{{ folder.pk }}">{{ folder.name }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" name="book_id">Add to Inventory</button>
                </form>
            {% else %}
            {% endif %}
            <div>
                <h2>{{ book.title }}</h2>
                <p>Book Id: {{ book.pk }}</p>
                <p>Author: {{ book.author }}</p>
                <p>Publisher: {{ book.publisher }}</p>
                <p>Published Date: {{ book.publication_date }}</p>
                <p>Pages: {{ book.page_count }}</p>
                <p>Genre: {{ book.category }}</p>
                <p>{{ book.description }}</p>
            </div>
        </div>
        
    </div>
</body>
{% endblock content %}