{% extends 'base.html' %}
{% block content %}
<html>
<head>
    <title>Books List</title>
    
</head>
<body>
    <div class="container">
        <h1 class="mt-5">All Books</h1>
        {% if role == 'pengguna' %}
        <h2>Username : {{ username }}</h2>
        <h2>Point : {{ point }}</h2>
        {% elif role == 'admin' %}
        <h2>Hallo admin {{ username }}</h2>
        {% endif %}
        <div class="card-group">
            {% for book in books %}
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-4">
                    <div class="card">
                        <a href="{% url 'books:book_detail' book.pk %}" style="text-decoration: none; color: inherit;">
                            <img class="card-img-top" src="{{ book.image_url }}" alt="{{ book.title }}">
                            <div class="card-body">
                                <h6 class="card-title" style="text-align: center;">{{ forloop.counter }}</h6>
                                <h5 class="card-title">{{ book.title }}</h5>
                                <p class="card-text">Book Id: {{ book.pk }}</p>
                                <p class="card-text">Author: {{ book.author }}</p>
                                <p class="card-text">Published Date: {{ book.category}}</p>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
{% endblock content %}

