{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="/static/inventory/styles/inventory.css">
    <script src="/static/inventory/js/inventory.js"></script>
    {% if user.is_authenticated %}
       <div class="full-container g-0 container-fluid">
            <div class="hero">
                <div class="hero-content">
                    <h1 class="hero-text">Create Your Library Here!</h1>
                    <button type="button" class="addlib-btn" data-bs-toggle="modal" data-bs-target="#addInventoryModal">Add Library</button>
                </div>
            </div>    
            {% for inventory in user_inventories %}
                <div class="inventory-container">
                    <h2 style="padding-left: 47px; padding-top: 20px; padding-bottom: 10px; color: beige;">{{ inventory.name }}</h2>
                    <div class="row inventory-books">
                        {% for book in inventory.inventorybook_set.all %}
                            <div class="col-md-3">
                                <div class="book-card">
                                    <div class="card" style="border-radius: 16px; padding: 10px;">
                                        <div class="card-body d-flex flex-column align-items-center justify-content-center" style="padding: 7px;">
                                            <img src="{{ book.book.image_url }}" alt="{{ book.book.title }}" style="margin-bottom: 10px;">
                                            <h6 class="card-title" style="text-align: center; margin-bottom: 5px;">{{ book.book.title }}</h6>
                                            <h7 class="author-text" style="margin-bottom: 10px; text-align: center;">
                                                <span class="material-symbols-outlined" style="vertical-align: middle; margin-right: 5px;">draw</span>
                                                <span style="opacity: 80;">{{ book.book.author }}</span>
                                            </h7>                                                                                                                                                                           
                                            <form method="post" action="{% url 'Inventory:delete_book' book.id %}">
                                                {% csrf_token %}
                                                <input type="hidden" name="inventory_id" value="{{ inventory.id }}">
                                                <button class="btn-delete" type="submit" style="width: 200px;border: 2px solid #c8553d; border-radius: 30px; background-color: #c8553d; color: white;">Delete From Inventory</button>
                                            </form>
                                        </div>                                    
                                    </div>
                                </div>
                            </div>                                   
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}     
       </div>   
        
        <div class="modal fade g-0 container-fluid" id="addInventoryModal" tabindex="-1" aria-labelledby="addInventoryModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" style="background-color: #ffffff;">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="addInventoryModalLabel" style="color: #588B8B; font-weight: 600;">Add New Library</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="form" onsubmit="return false;">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="name" class="form-label" style="color: #588B8B;">Library Name:</label>
                                <input type="text" name="name" id="name" class="form-control" placeholder="Enter Library Name" required>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" data-bs-dismiss="modal" style="color:#588B8B">Close</button>
                        <button type="button" class="btn" id="button_add" data-bs-dismiss="modal" style="color:#ffffff; background-color: #588B8B; border: 2px; border-radius: 5px;">Add Library</button>
                    </div>                    
                </div>
            </div>
        </div>
        <div class="row" id="product_cards">            
        </div>
        
    {% else %}
        <div class="login-message">
            <h2>Silakan login untuk melihat inventaris Anda</h2>
            <a href="/login/" class="btn btn-primary" style="width: 200px; padding: 10px; border: 1px #c8553d;border-radius: 30px; background-color: #c8553d; ">Login</a>
        </div>
        
    {% endif %}

{% endblock %}