{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %}
        <table id="inventory_table"></table>
        <ul>
            {% for inventory in user_inventories %}
                <li>
                    <a href="{% url 'Inventory:user_inventory' %}">{{ inventory.name }}</a>
                </li>
            {% endfor %}
        </ul>
        
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#addInventoryModal" style="width: 800; display: block; margin: 0 auto; background-color: #EAD9A3; color: #E03930; font-weight: 600;">Add Folder by AJAX</button>
        <div class="modal fade" id="addInventoryModal" tabindex="-1" aria-labelledby="addInventoryModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" style="background-color: #EAD9A3;">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="addInventoryModalLabel" style="color: #E03930; font-weight: 600;">Add New Folder</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="form" onsubmit="return false;">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="name" class="form-label" style="color: #866237; font-weight: 600;">Folder Name:</label>
                                <input type="text" name="name" id="name" class="form-control" placeholder="Enter Folder Name" required>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" data-bs-dismiss="modal" style="background-color: #EAD9A3; color:#E03930; border-color: #E03930; font-weight: 600;">Close</button>
                        <button type="button" class="btn" id="button_add" data-bs-dismiss="modal" style="background-color: #E03930; color:#EAD9A3; font-weight: 600;">Add Folder</button>
                    </div>                    
                </div>
            </div>
        </div>
        <div class="row" id="product_cards">            
        </div>

        <div class="row" id="book-container">            
        </div>
        
        <script>
            async function getProducts() {
                return fetch("{% url 'Inventory:get_inventory_json' %}").then((res) => res.json());
            }
        
            async function refreshProducts() {
                const items = await getProducts();
                const productCards = document.getElementById("product_cards");
                productCards.innerHTML = "";
                items.forEach((inventory) => {
                    const inventoryName = inventory.fields.name;
                    const inventoryId = inventory.pk;
                    productCards.innerHTML += `
                        <div class="card">
                            <div class="card-body">
                                <button class="inventory-name" onclick="showBooksInInventory('${inventoryName}')">
                                    ${inventoryName}
                                </button>
                            </div>
                        </div>
                    `;
                });
            }
        
            refreshProducts();
        
            function addInventory() {
                fetch("{% url 'Inventory:create_folder' %}", {
                    method: "POST",
                    body: new FormData(document.querySelector('#form'))
                })
                .then(function (response) {
                    if (response.status === 200) {
                        var myModal = new bootstrap.Modal(document.getElementById("addInventoryModal"));
                        myModal.hide();
                        document.getElementById("form").reset();
                        refreshProducts(); // Tambahkan refreshProducts() untuk memperbarui tampilan setelah menambah folder
                    }
                });
                return false;
            }
        
            document.getElementById("button_add").onclick = addInventory;


            function showBooksInInventory(inventoryName) {
                fetch(`{% url 'Inventory:get_books_in_inventory' inventoryName %}`)
                .then(function (response) {
                    return response.json();
                })
                .then(function (bookData) {
                    const bookContainer = document.getElementById('book-container');
                    bookContainer.innerHTML = ""; 

                    bookData.forEach(book => {
                        const bookTitle = book.title;
                        const bookAuthor = book.author;
                        const bookDescription = book.description;

                        const bookElement = document.createElement('div');
                        bookElement.innerHTML = `
                            <h3>${bookTitle}</h3>
                            <p>Author: ${bookAuthor}</p>
                            <p>Description: ${bookDescription}</p>
                            <hr>
                        `;

                        bookContainer.appendChild(bookElement);
                    });
                });
            }

            const inventory = document.getElementsByClassName("inventory-name");

            for (let i = 0; i < inventory.length; i++) {
                inventory[i].addEventListener("click", function () {
                    const inventoryName = inventory[i].getAttribute("name")
                    showBooksInInventory(inventoryName);
                });
            }



        </script>
        
    {% else %}
        <p>Silakan login untuk melihat inventaris Anda.</p>
        <a href="/login/" class="btn btn-primary">Login</a>
        
    {% endif %}
{% endblock %}
